
<p>
    <mat-toolbar class="toolbar">
        
        <div style="display: flex; justify-content: space-between; width: 100%">

            <button mat-icon-button 
                class="example-icon" 
                aria-label="Example icon-button with menu icon">
                <mat-icon class="icon-color">menu</mat-icon>
            </button>

            <ul class="flex">
                <li><a href="#">Home</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">SignUp</a></li>
            </ul>
        
        </div>

    </mat-toolbar>
</p>
  