<div class="whole">
    <app-nav></app-nav>
    
    <div class="container">
        <div class="row" 
            style="justify-content: space-between;">
            <div class="col-lg-8">
                <app-lefttop></app-lefttop>
                <app-leftbottom></app-leftbottom>
            </div>
            <div class="col-lg-4">
                <app-righttop></app-righttop>
                <app-rightbottom></app-rightbottom>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>